{% extends "layout.html "%}
{% load static %}
{% block content %}
<div class="container-fluid"> 
    <h1 class="p-3 mt-5 bg-primary text-white rounded text-center ">LINKS</h1>
</div>
    <div class="container">
        <h3 class="text-center mt-5">Aunthentication is successfull ! You can access our services</h3>
       <div class="mt-5 mb-5 p-5 rounded">
        <h1></h1>
         <a class="hvr btn btn-success" href="https://www.google.com">Google</a>
         <a class="hvr btn btn-danger" href="https://www.youtube.com">Youtube</a>
         <a class="hvr btn btn-info" href="https://www.w3schools.com">W3 Schools</a>
         <a class="hvr btn btn-secondary" href="https://www.linkedin.com">Linkedin</a>
         <a class="hvr btn btn-primary" href="https://www.instagram.com">Instagram</a>
         <a class="hvr btn btn-info" href="https://www.facebook.com">Facebook</a>
         <a class="hvr btn btn-danger" href="https://www.twitter.com">Twitter</a>
         <a class="hvr btn btn-secondary" href="https://www.snapchat.com">Snapchat</a>
         <a class="hvr btn btn-success" href="https://www.spotify.com">Spotify</a>
         <a class="hvr btn btn-primary" href="https://www.telegram.com">Telegram</a>
         <a class="hvr btn btn-info" href="https://www.zoom.com">Zoom</a>
         <a class="hvr btn btn-secondary" href="https://www.meet.com">Meet</a>
         <a class="hvr btn btn-success" href="https://www.whatsapp.com">Whatsapp</a>
         
       </div>
    </div>
    {% endblock%}